In [4]:
from pandas import *
import matplotlib.pyplot as plt
import pandas as pd 
import sys 
import matplotlib
year = [2008,2009,2010,2011,2012,2013,2014,2015]
total = []
win_bat = []
win_cha = []
tie = []

df = pd.read_excel('EASY_IPL.xlsx')
df

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.4,128.0,1.0,0.4,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.3,81.0,4.0,6.0,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,510,League Match,May 17,2015,Hyderabad,Hyderabad,Mumbai,113,10,20.0,...,73.0,0.0,4.1,NaN,NaN,NaN,NaN,NaN,Evening,NaN
510,511,Qualifier 1,May 19,2015,Mumbai,Mumbai,Chennai,187,6,20.0,...,86.0,2.0,10.2,121.0,6.0,13.4,NaN,NaN,Evening,NaN
511,512,Eliminator,May 20,2015,Pune,Bangalore,Rajasthan,180,4,20.0,...,68.0,3.0,11.3,92.0,7.0,17.8,NaN,NaN,Evening,NaN
512,513,Qualifier 2,May 22,2015,Ranchi,Bangalore,Chennai,139,8,20.0,...,62.0,3.0,7.8,91.0,3.0,9.8,140.0,7.0,Evening,NaN
513,514,Final,May 24,2015,Kolkata,Mumbai,Chennai,202,5,20.0,...,67.0,1.0,13.6,112.0,4.0,18.2,161.0,8.0,Evening,NaN

In [10]:
y_2008 = df[df['Year'] == 2008]
y_2008

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.20,81.0,9.0,28.40,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.10,165.0,3.0,15.20,207.0,4.0,Afternoon,NaN
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.40,128.0,1.0,0.40,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.30,81.0,4.0,6.00,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.00,118.0,4.0,9.60,166.0,5.0,Evening,NaN
5,6,League Match,Apr 21,2008,Jaipur,Punjab,Rajasthan,166,8,20.0,...,87.0,3.0,8.00,142.0,4.0,5.00,NaN,NaN,Evening,NaN
6,7,League Match,Apr 22,2008,Hyderabad,Hyderabad,Delhi,142,8,20.0,...,95.0,1.0,4.80,NaN,NaN,NaN,NaN,NaN,Evening,NaN
7,8,League Match,Apr 23,2008,Chennai,Chennai,Mumbai,208,5,20.0,...,83.0,3.0,12.60,134.0,5.0,15.00,202.0,7.0,Evening,NaN
8,9,League Match,Apr 24,2008,Hyderabad,Hyderabad,Rajasthan,214,5,20.0,...,114.0,2.0,10.10,159.0,3.0,11.20,217.0,7.0,Evening,NaN
9,10,League Match,Apr 25,2008,Mohali,Punjab,Mumbai,182,10,20.0,...,67.0,4.0,11.60,101.0,7.0,16.40,116.0,9.0,Evening,NaN
10,11,League Match,Apr 26,2008,Chennai,Kolkata,Chennai,147,9,20.0,...,77.0,1.0,7.10,121.0,1.0,5.40,NaN,NaN,Afternoon,NaN
11,12,League Match,Apr 26,2008,Bangalore,Bangalore,Rajasthan,135,8,20.0,...,73.0,2.0,6.30,121.0,2.0,3.00,NaN,NaN,Evening,NaN
12,13,League Match,Apr 27,2008,Mohali,Delhi,Punjab,158,8,20.0,...,81.0,3.0,7.80,123.0,4.0,7.20,162.0,6.0,Afternoon,NaN
13,14,League Match,Apr 27,2008,Mumbai,Mumbai,Hyderabad,154,7,20.0,...,130.0,0.0,2.50,NaN,NaN,NaN,NaN,NaN,Evening,NaN
14,15,League Match,Apr 28,2008,Bangalore,Chennai,Bangalore,178,5,20.0,...,93.0,1.0,8.60,132.0,3.0,9.40,165.0,10.0,Evening,NaN
15,16,League Match,Apr 29,2008,Kolkata,Kolkata,Mumbai,137,8,20.0,...,69.0,3.0,6.90,110.0,3.0,5.60,NaN,NaN,Evening,NaN
16,17,League Match,Apr 30,2008,Delhi,Delhi,Bangalore,191,5,20.0,...,83.0,3.0,10.90,134.0,3.0,11.60,181.0,5.0,Evening,NaN
17,18,League Match,May 1,2008,Jaipur,Rajasthan,Kolkata,196,7,20.0,...,78.0,3.0,11.90,128.0,5.0,13.80,151.0,10.0,Afternoon,NaN
18,19,League Match,May 1,2008,Hyderabad,Hyderabad,Punjab,164,8,20.0,...,77.0,2.0,8.80,129.0,3.0,7.20,NaN,NaN,Evening,NaN
19,20,League Match,May 2,2008,Chennai,Chennai,Delhi,169,6,20.0,...,106.0,0.0,6.40,142.0,2.0,5.60,NaN,NaN,Evening,NaN
20,21,League Match,May 3,2008,Bangalore,Bangalore,Hyderabad,156,8,20.0,...,63.0,2.0,9.40,112.0,2.0,9.00,153.0,6.0,Afternoon,NaN
21,22,League Match,May 3,2008,Mohali,Punjab,Kolkata,178,6,20.0,...,52.0,5.0,12.70,101.0,5.0,15.60,169.0,6.0,Evening,NaN
22,23,League Match,May 4,2008,Mumbai,Mumbai,Delhi,162,8,20.0,...,81.0,3.0,8.20,114.0,5.0,9.80,NaN,NaN,Afternoon,NaN
23,24,League Match,May 4,2008,Jaipur,Chennai,Rajasthan,109,10,19.0,...,78.0,0.0,3.20,110.0,2.0,NaN,NaN,NaN,Evening,NaN
24,25,League Match,May 5,2008,Bangalore,Bangalore,Punjab,126,10,19.2,...,81.0,2.0,4.60,109.0,4.0,3.60,NaN,NaN,Evening,NaN
25,26,League Match,May 6,2008,Chennai,Chennai,Hyderabad,144,7,20.0,...,78.0,2.0,6.70,115.0,2.0,6.00,NaN,NaN,Evening,NaN
26,27,League Match,May 7,2008,Mumbai,Rajasthan,Mumbai,103,10,16.2,...,64.0,1.0,4.00,102.0,3.0,0.40,NaN,NaN,Evening,NaN
27,28,League Match,May 8,2008,Delhi,Delhi,Chennai,187,5,20.0,...,98.0,2.0,9.00,142.0,4.0,9.20,188.0,6.0,Afternoon,NaN
28,29,League Match,May 8,2008,Kolkata,Kolkata,Bangalore,129,7,16.0,...,53.0,3.0,13.00,111.0,4.0,20.00,NaN,NaN,Evening,NaN
29,30,League Match,May 9,2008,Jaipur,Hyderabad,Rajasthan,140,8,20.0,...,81.0,0.0,6.00,129.0,1.0,2.40,NaN,NaN,Evening,NaN
30,31,League Match,May 10,2008,Chennai,Chennai,Punjab,181,4,20.0,...,76.0,2.0,10.60,115.0,6.0,13.40,163.0,9.0,Evening,NaN
31,32,League Match,May 11,2008,Hyderabad,Kolkata,Hyderabad,204,4,20.0,...,74.0,4.0,13.10,125.0,6.0,16.00,181.0,7.0,Afternoon,NaN
32,33,League Match,May 11,2008,Jaipur,Delhi,Rajasthan,156,7,20.0,...,80.0,2.0,7.70,120.0,4.0,7.40,159.0,7.0,Evening,NaN
33,34,League Match,May 12,2008,Mohali,Bangalore,Punjab,143,8,20.0,...,70.0,1.0,7.40,141.0,1.0,0.60,NaN,NaN,Evening,NaN
34,35,League Match,May 13,2008,Kolkata,Kolkata,Delhi,133,6,20.0,...,64.0,5.0,7.00,97.0,6.0,7.40,NaN,NaN,Evening,NaN
35,36,League Match,May 14,2008,Mumbai,Chennai,Mumbai,156,6,20.0,...,107.0,1.0,5.00,NaN,NaN,NaN,NaN,NaN,Evening,NaN
36,37,League Match,May 15,2008,Delhi,Delhi,Hyderabad,194,4,20.0,...,84.0,3.0,11.10,128.0,4.0,13.40,182.0,9.0,Evening,NaN
37,38,League Match,May 16,2008,Mumbai,Kolkata,Mumbai,67,10,15.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evening,NaN
38,39,League Match,May 17,2008,Jaipur,Rajasthan,Bangalore,197,1,20.0,...,38.0,4.0,16.00,83.0,7.0,23.00,132.0,9.0,Afternoon,NaN
39,40,League Match,May 17,2008,Delhi,Delhi,Punjab,118,4,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evening,D/L
40,41,League Match,May 18,2008,Kolkata,Kolkata,Chennai,149,5,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afternoon,D/L
41,42,League Match,May 18,2008,Hyderabad,Mumbai,Hyderabad,178,7,20.0,...,59.0,4.0,12.00,106.0,4.0,14.60,153.0,7.0,Evening,NaN
42,43,League Match,May 19,2008,Bangalore,Bangalore,Delhi,154,7,20.0,...,105.0,2.0,5.00,127.0,4.0,5.60,NaN,NaN,Evening,NaN
43,44,League Match,May 20,2008,Kolkata,Kolkata,Rajasthan,147,8,20.0,...,69.0,4.0,7.90,128.0,4.0,4.00,NaN,NaN,Evening,NaN
44,45,League Match,May 21,2008,Mumbai,Punjab,Mumbai,189,4,20.0,...,90.0,2.0,10.00,144.0,3.0,9.20,188.0,10.0,Afternoon,NaN
45,46,League Match,May 21,2008,Chennai,Bangalore,Chennai,126,8,20.0,...,61.0,1.0,6.60,91.0,4.0,7.20,111.0,8.0,Evening,NaN
46,47,League Match,May 23,2008,Mohali,Hyderabad,Punjab,175,4,20.0,...,101.0,1.0,7.50,135.0,2.0,8.20,178.0,4.0,Evening,NaN
47,48,League Match,May 24,2008,Chennai,Rajasthan,Chennai,211,5,20.0,...,99.0,2.0,11.30,157.0,3.0,11.00,201.0,7.0,Afternoon,NaN
48,49,League Match,May 24,2008,Delhi,Mumbai,Delhi,176,8,20.0,...,88.0,2.0,8.90,130.0,5.0,9.40,179.0,5.0,Evening,NaN
49,50,League Match,May 25,2008,Hyderabad,Hyderabad,Bangalore,165,10,20.0,...,61.0,2.0,10.50,106.0,3.0,12.00,NaN,NaN,Afternoon,NaN
50,51,League Match,May 25,2008,Kolkata,Punjab,Kolkata,174,6,20.0,...,74.0,4.0,10.10,104.0,5.0,14.20,175.0,7.0,Evening,NaN
51,52,League Match,May 26,2008,Jaipur,Mumbai,Rajasthan,145,7,20.0,...,67.0,3.0,7.90,90.0,5.0,11.20,146.0,5.0,Evening,NaN
52,53,League Match,May 27,2008,Hyderabad,Hyderabad,Chennai,147,8,20.0,...,72.0,2.0,7.60,114.0,2.0,6.80,148.0,3.0,Evening,NaN
53,54,League Match,May 28,2008,Bangalore,Bangalore,Mumbai,122,9,18.0,...,79.0,0.0,5.62,117.0,1.0,2.33,NaN,NaN,Afternoon,NaN
54,55,League Match,May 28,2008,Mohali,Punjab,Rajasthan,221,3,20.0,...,67.0,2.0,15.50,140.0,5.0,16.40,180.0,7.0,Evening,NaN
55,56,1st Semi-Final,May 30,2008,Mumbai,Rajasthan,Delhi,192,9,20.0,...,56.0,5.0,13.70,82.0,8.0,22.20,NaN,NaN,Evening,NaN
56,57,2nd Semi-Final,May 31,2008,Mumbai,Punjab,Chennai,112,8,20.0,...,62.0,1.0,5.10,116.0,1.0,NaN,NaN,NaN,Evening,NaN
57,58,Final,Jun 1,2008,Mumbai,Chennai,Rajasthan,163,5,20.0,...,75.0,3.0,8.90,112.0,4.0,10.40,164.0,7.0,Evening,NaN

In [14]:
total.append(len(y_2008))
total

58

In [12]:
win = y_2008[y_2008['Winning_Team'] == 'FirstBatting']
win

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
7,8,League Match,Apr 23,2008,Chennai,Chennai,Mumbai,208,5,20.0,...,83.0,3.0,12.6,134.0,5.0,15.0,202.0,7.0,Evening,NaN
9,10,League Match,Apr 25,2008,Mohali,Punjab,Mumbai,182,10,20.0,...,67.0,4.0,11.6,101.0,7.0,16.4,116.0,9.0,Evening,NaN
14,15,League Match,Apr 28,2008,Bangalore,Chennai,Bangalore,178,5,20.0,...,93.0,1.0,8.6,132.0,3.0,9.4,165.0,10.0,Evening,NaN
16,17,League Match,Apr 30,2008,Delhi,Delhi,Bangalore,191,5,20.0,...,83.0,3.0,10.9,134.0,3.0,11.6,181.0,5.0,Evening,NaN
17,18,League Match,May 1,2008,Jaipur,Rajasthan,Kolkata,196,7,20.0,...,78.0,3.0,11.9,128.0,5.0,13.8,151.0,10.0,Afternoon,NaN
20,21,League Match,May 3,2008,Bangalore,Bangalore,Hyderabad,156,8,20.0,...,63.0,2.0,9.4,112.0,2.0,9.0,153.0,6.0,Afternoon,NaN
21,22,League Match,May 3,2008,Mohali,Punjab,Kolkata,178,6,20.0,...,52.0,5.0,12.7,101.0,5.0,15.6,169.0,6.0,Evening,NaN
22,23,League Match,May 4,2008,Mumbai,Mumbai,Delhi,162,8,20.0,...,81.0,3.0,8.2,114.0,5.0,9.8,NaN,NaN,Afternoon,NaN
28,29,League Match,May 8,2008,Kolkata,Kolkata,Bangalore,129,7,16.0,...,53.0,3.0,13.0,111.0,4.0,20.0,NaN,NaN,Evening,NaN
30,31,League Match,May 10,2008,Chennai,Chennai,Punjab,181,4,20.0,...,76.0,2.0,10.6,115.0,6.0,13.4,163.0,9.0,Evening,NaN
31,32,League Match,May 11,2008,Hyderabad,Kolkata,Hyderabad,204,4,20.0,...,74.0,4.0,13.1,125.0,6.0,16.0,181.0,7.0,Afternoon,NaN
34,35,League Match,May 13,2008,Kolkata,Kolkata,Delhi,133,6,20.0,...,64.0,5.0,7.0,97.0,6.0,7.4,NaN,NaN,Evening,NaN
36,37,League Match,May 15,2008,Delhi,Delhi,Hyderabad,194,4,20.0,...,84.0,3.0,11.1,128.0,4.0,13.4,182.0,9.0,Evening,NaN
38,39,League Match,May 17,2008,Jaipur,Rajasthan,Bangalore,197,1,20.0,...,38.0,4.0,16.0,83.0,7.0,23.0,132.0,9.0,Afternoon,NaN
41,42,League Match,May 18,2008,Hyderabad,Mumbai,Hyderabad,178,7,20.0,...,59.0,4.0,12.0,106.0,4.0,14.6,153.0,7.0,Evening,NaN
44,45,League Match,May 21,2008,Mumbai,Punjab,Mumbai,189,4,20.0,...,90.0,2.0,10.0,144.0,3.0,9.2,188.0,10.0,Afternoon,NaN
45,46,League Match,May 21,2008,Chennai,Bangalore,Chennai,126,8,20.0,...,61.0,1.0,6.6,91.0,4.0,7.2,111.0,8.0,Evening,NaN
47,48,League Match,May 24,2008,Chennai,Rajasthan,Chennai,211,5,20.0,...,99.0,2.0,11.3,157.0,3.0,11.0,201.0,7.0,Afternoon,NaN
54,55,League Match,May 28,2008,Mohali,Punjab,Rajasthan,221,3,20.0,...,67.0,2.0,15.5,140.0,5.0,16.4,180.0,7.0,Evening,NaN
55,56,1st Semi-Final,May 30,2008,Mumbai,Rajasthan,Delhi,192,9,20.0,...,56.0,5.0,13.7,82.0,8.0,22.2,NaN,NaN,Evening,NaN

In [18]:
win_bat.append(len(win))
win_bat

[22]

In [21]:
win_bol = y_2008[y_2008['Winning_Team'] == 'Chasing']
win_bol

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.40,128.0,1.0,0.40,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.30,81.0,4.0,6.00,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.00,118.0,4.0,9.60,166.0,5.0,Evening,NaN
5,6,League Match,Apr 21,2008,Jaipur,Punjab,Rajasthan,166,8,20.0,...,87.0,3.0,8.00,142.0,4.0,5.00,NaN,NaN,Evening,NaN
6,7,League Match,Apr 22,2008,Hyderabad,Hyderabad,Delhi,142,8,20.0,...,95.0,1.0,4.80,NaN,NaN,NaN,NaN,NaN,Evening,NaN
8,9,League Match,Apr 24,2008,Hyderabad,Hyderabad,Rajasthan,214,5,20.0,...,114.0,2.0,10.10,159.0,3.0,11.20,217.0,7.0,Evening,NaN
10,11,League Match,Apr 26,2008,Chennai,Kolkata,Chennai,147,9,20.0,...,77.0,1.0,7.10,121.0,1.0,5.40,NaN,NaN,Afternoon,NaN
11,12,League Match,Apr 26,2008,Bangalore,Bangalore,Rajasthan,135,8,20.0,...,73.0,2.0,6.30,121.0,2.0,3.00,NaN,NaN,Evening,NaN
12,13,League Match,Apr 27,2008,Mohali,Delhi,Punjab,158,8,20.0,...,81.0,3.0,7.80,123.0,4.0,7.20,162.0,6.0,Afternoon,NaN
13,14,League Match,Apr 27,2008,Mumbai,Mumbai,Hyderabad,154,7,20.0,...,130.0,0.0,2.50,NaN,NaN,NaN,NaN,NaN,Evening,NaN
15,16,League Match,Apr 29,2008,Kolkata,Kolkata,Mumbai,137,8,20.0,...,69.0,3.0,6.90,110.0,3.0,5.60,NaN,NaN,Evening,NaN
18,19,League Match,May 1,2008,Hyderabad,Hyderabad,Punjab,164,8,20.0,...,77.0,2.0,8.80,129.0,3.0,7.20,NaN,NaN,Evening,NaN
19,20,League Match,May 2,2008,Chennai,Chennai,Delhi,169,6,20.0,...,106.0,0.0,6.40,142.0,2.0,5.60,NaN,NaN,Evening,NaN
23,24,League Match,May 4,2008,Jaipur,Chennai,Rajasthan,109,10,19.0,...,78.0,0.0,3.20,110.0,2.0,NaN,NaN,NaN,Evening,NaN
24,25,League Match,May 5,2008,Bangalore,Bangalore,Punjab,126,10,19.2,...,81.0,2.0,4.60,109.0,4.0,3.60,NaN,NaN,Evening,NaN
25,26,League Match,May 6,2008,Chennai,Chennai,Hyderabad,144,7,20.0,...,78.0,2.0,6.70,115.0,2.0,6.00,NaN,NaN,Evening,NaN
26,27,League Match,May 7,2008,Mumbai,Rajasthan,Mumbai,103,10,16.2,...,64.0,1.0,4.00,102.0,3.0,0.40,NaN,NaN,Evening,NaN
27,28,League Match,May 8,2008,Delhi,Delhi,Chennai,187,5,20.0,...,98.0,2.0,9.00,142.0,4.0,9.20,188.0,6.0,Afternoon,NaN
29,30,League Match,May 9,2008,Jaipur,Hyderabad,Rajasthan,140,8,20.0,...,81.0,0.0,6.00,129.0,1.0,2.40,NaN,NaN,Evening,NaN
32,33,League Match,May 11,2008,Jaipur,Delhi,Rajasthan,156,7,20.0,...,80.0,2.0,7.70,120.0,4.0,7.40,159.0,7.0,Evening,NaN
33,34,League Match,May 12,2008,Mohali,Bangalore,Punjab,143,8,20.0,...,70.0,1.0,7.40,141.0,1.0,0.60,NaN,NaN,Evening,NaN
35,36,League Match,May 14,2008,Mumbai,Chennai,Mumbai,156,6,20.0,...,107.0,1.0,5.00,NaN,NaN,NaN,NaN,NaN,Evening,NaN
37,38,League Match,May 16,2008,Mumbai,Kolkata,Mumbai,67,10,15.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evening,NaN
39,40,League Match,May 17,2008,Delhi,Delhi,Punjab,118,4,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evening,D/L
40,41,League Match,May 18,2008,Kolkata,Kolkata,Chennai,149,5,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afternoon,D/L
42,43,League Match,May 19,2008,Bangalore,Bangalore,Delhi,154,7,20.0,...,105.0,2.0,5.00,127.0,4.0,5.60,NaN,NaN,Evening,NaN
43,44,League Match,May 20,2008,Kolkata,Kolkata,Rajasthan,147,8,20.0,...,69.0,4.0,7.90,128.0,4.0,4.00,NaN,NaN,Evening,NaN
46,47,League Match,May 23,2008,Mohali,Hyderabad,Punjab,175,4,20.0,...,101.0,1.0,7.50,135.0,2.0,8.20,178.0,4.0,Evening,NaN
48,49,League Match,May 24,2008,Delhi,Mumbai,Delhi,176,8,20.0,...,88.0,2.0,8.90,130.0,5.0,9.40,179.0,5.0,Evening,NaN
49,50,League Match,May 25,2008,Hyderabad,Hyderabad,Bangalore,165,10,20.0,...,61.0,2.0,10.50,106.0,3.0,12.00,NaN,NaN,Afternoon,NaN
50,51,League Match,May 25,2008,Kolkata,Punjab,Kolkata,174,6,20.0,...,74.0,4.0,10.10,104.0,5.0,14.20,175.0,7.0,Evening,NaN
51,52,League Match,May 26,2008,Jaipur,Mumbai,Rajasthan,145,7,20.0,...,67.0,3.0,7.90,90.0,5.0,11.20,146.0,5.0,Evening,NaN
52,53,League Match,May 27,2008,Hyderabad,Hyderabad,Chennai,147,8,20.0,...,72.0,2.0,7.60,114.0,2.0,6.80,148.0,3.0,Evening,NaN
53,54,League Match,May 28,2008,Bangalore,Bangalore,Mumbai,122,9,18.0,...,79.0,0.0,5.62,117.0,1.0,2.33,NaN,NaN,Afternoon,NaN
56,57,2nd Semi-Final,May 31,2008,Mumbai,Punjab,Chennai,112,8,20.0,...,62.0,1.0,5.10,116.0,1.0,NaN,NaN,NaN,Evening,NaN
57,58,Final,Jun 1,2008,Mumbai,Chennai,Rajasthan,163,5,20.0,...,75.0,3.0,8.90,112.0,4.0,10.40,164.0,7.0,Evening,NaN

In [22]:
len(win_bol)

36

In [23]:
win_cha.append(len(win_bol))
win_cha

[36]

In [24]:
ma_tie =y_2008[y_2008['Winning_Team'] == 'Match Tie']
ma_tie

Empty DataFrame
Columns: [Match_Number, Match, Date, Year, Venue, Team_Batting_First, Team_Batting_Second, Bat_First_Runs_Scored, Bat_First_Wickets_Lost, Bat_First_Overs_Consumed, Bat_First_Overs_Allocated, Bat_Second_Runs_Scored, Bat_Second_Wickets_Lost, Bat_Second_Overs_Consumed, Bat_Second_Overs_Allocated, Winner, Winning_Team, Winning_Margin, Win_Type, Bat_First_Run_Rate, Bat_Second_Run_Rate, Balls_Remaining, Bat_First_5_ov_score, Bat_First_5_ov_wkts_lost, Bat_First_10_ov_score, Bat_First_10_ov_wkts_lost, Bat_First_15_ov_score, Bat_First_15_ov_wkts_lost, Bat_First_20_ov_score, Bat_First_20_ov_wkts_lost, Bat_Second_5_ov_score, Bat_Second_5_ov_wkts_lost, Bat_Second_5_ov_Req_RR, Bat_Second_10_ov_score, Bat_Second_10_ov_wkts_lost, Bat_Second_10_ov_Req_RR, Bat_Second_15_ov_score, Bat_Second_15_ov_wkts_lost, Bat_Second_15_ov_Req_RR, Bat_Second_20_ov_score, Bat_Second_20_ov_wkts_lost, Match_Time, Duckworth Lewis Used]
Index: []

[0 rows x 43 columns]

In [26]:
len(ma_tie)
tie.append(len(ma_tie))

In [33]:
total

[58]

In [29]:
win_bat

[22]

In [30]:
win_cha

[36]

In [32]:
tie

[0]

In [34]:
y_2009 = df[df['Year'] == 2009]
y_2009

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
58,59,League Match,Apr 18,2009,Cape Town,Mumbai,Chennai,165,7,20.0,...,70.0,3.0,9.60,108.0,5.0,11.60,146.0,7.0,Afternoon,NaN
59,60,League Match,Apr 18,2009,Cape Town,Bangalore,Rajasthan,133,8,20.0,...,32.0,5.0,10.20,58.0,9.0,15.20,NaN,NaN,Evening,NaN
60,61,League Match,Apr 19,2009,Cape Town,Punjab,Delhi,104,7,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afternoon,NaN
61,62,League Match,Apr 19,2009,Cape Town,Kolkata,Hyderabad,101,10,19.4,...,69.0,2.0,3.30,NaN,NaN,NaN,NaN,NaN,Evening,NaN
62,63,League Match,Apr 20,2009,Port Elizabeth,Chennai,Bangalore,179,5,20.0,...,56.0,5.0,12.40,85.0,9.0,19.00,NaN,NaN,Evening,NaN
63,64,League Match,Apr 21,2009,Durban,Punjab,Kolkata,158,6,20.0,...,79.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Evening,D/L
64,65,League Match,Apr 22,2009,Cape Town,Hyderabad,Bangalore,184,6,20.0,...,57.0,3.0,12.80,109.0,4.0,15.20,160.0,8.0,Evening,NaN
65,66,League Match,Apr 23,2009,Durban,Delhi,Chennai,189,5,20.0,...,106.0,2.0,8.40,148.0,4.0,8.40,180.0,9.0,Afternoon,NaN
66,67,League Match,Apr 23,2009,Cape Town,Rajasthan,Kolkata,150,6,20.0,...,67.0,3.0,8.40,98.0,5.0,10.60,150.0,8.0,Evening,NaN
67,68,League Match,Apr 24,2009,Durban,Bangalore,Punjab,168,9,20.0,...,80.0,1.0,8.90,109.0,2.0,12.00,NaN,NaN,Evening,NaN
68,69,League Match,Apr 25,2009,Durban,Hyderabad,Mumbai,168,9,20.0,...,84.0,1.0,8.50,108.0,4.0,12.20,156.0,7.0,Evening,NaN
69,70,League Match,Apr 26,2009,Port Elizabeth,Bangalore,Delhi,149,7,20.0,...,64.0,2.0,8.60,99.0,3.0,10.20,150.0,4.0,Afternoon,NaN
70,71,League Match,Apr 26,2009,Cape Town,Punjab,Rajasthan,139,6,20.0,...,48.0,6.0,9.20,82.0,6.0,11.60,112.0,7.0,Evening,NaN
71,72,League Match,Apr 27,2009,Durban,Chennai,Hyderabad,165,6,20.0,...,85.0,2.0,8.10,129.0,3.0,7.40,169.0,4.0,Afternoon,NaN
72,73,League Match,Apr 27,2009,Port Elizabeth,Mumbai,Kolkata,187,6,20.0,...,70.0,2.0,11.80,95.0,7.0,18.60,NaN,NaN,Evening,NaN
73,74,League Match,Apr 28,2009,Centurion,Delhi,Rajasthan,143,7,20.0,...,60.0,3.0,8.40,96.0,5.0,9.60,NaN,NaN,Evening,NaN
74,75,League Match,Apr 29,2009,Durban,Kolkata,Bangalore,139,6,20.0,...,65.0,0.0,7.50,98.0,2.0,8.40,143.0,5.0,Afternoon,NaN
75,76,League Match,Apr 29,2009,Durban,Punjab,Mumbai,119,8,20.0,...,47.0,4.0,7.30,81.0,4.0,7.80,116.0,7.0,Evening,NaN
76,77,League Match,Apr 30,2009,Centurion,Hyderabad,Delhi,148,9,20.0,...,70.0,3.0,7.90,101.0,3.0,9.60,NaN,NaN,Afternoon,NaN
77,78,League Match,Apr 30,2009,Centurion,Chennai,Rajasthan,164,5,20.0,...,61.0,3.0,10.40,98.0,5.0,13.40,126.0,10.0,Evening,NaN
78,79,League Match,May 1,2009,East London,Mumbai,Kolkata,148,6,20.0,...,60.0,2.0,8.90,98.0,3.0,10.20,139.0,6.0,Afternoon,NaN
79,80,League Match,May 1,2009,Durban,Bangalore,Punjab,145,9,20.0,...,70.0,1.0,7.60,95.0,3.0,10.20,137.0,7.0,Evening,NaN
80,81,League Match,May 2,2009,Port Elizabeth,Hyderabad,Rajasthan,141,5,20.0,...,60.0,5.0,8.20,98.0,6.0,8.80,142.0,7.0,Afternoon,NaN
81,82,League Match,May 2,2009,Johannesburg,Chennai,Delhi,163,10,20.0,...,72.0,3.0,9.20,120.0,3.0,8.80,145.0,8.0,Evening,NaN
82,83,League Match,May 3,2009,Port Elizabeth,Kolkata,Punjab,153,3,20.0,...,81.0,3.0,7.30,116.0,4.0,7.60,154.0,4.0,Afternoon,NaN
83,84,League Match,May 3,2009,Johannesburg,Mumbai,Bangalore,149,4,20.0,...,74.0,1.0,7.60,122.0,1.0,5.60,NaN,NaN,Evening,NaN
84,85,League Match,May 4,2009,East London,Chennai,Hyderabad,178,3,20.0,...,79.0,5.0,10.00,100.0,10.0,NaN,NaN,NaN,Evening,NaN
85,86,League Match,May 5,2009,Durban,Rajasthan,Punjab,211,4,20.0,...,53.0,5.0,15.90,96.0,6.0,23.20,133.0,8.0,Afternoon,NaN
86,87,League Match,May 5,2009,Durban,Kolkata,Delhi,154,3,20.0,...,76.0,1.0,7.90,114.0,1.0,8.20,NaN,NaN,Evening,NaN
87,88,League Match,May 6,2009,Centurion,Hyderabad,Mumbai,145,6,20.0,...,71.0,3.0,7.50,100.0,4.0,9.20,126.0,8.0,Evening,NaN
88,89,League Match,May 7,2009,Centurion,Bangalore,Rajasthan,105,10,20.0,...,62.0,2.0,4.40,107.0,3.0,NaN,NaN,NaN,Afternoon,NaN
89,90,League Match,May 7,2009,Centurion,Chennai,Punjab,185,3,18.0,...,90.0,3.0,12.25,148.0,3.0,13.33,NaN,NaN,Evening,D/L
90,91,League Match,May 8,2009,East London,Mumbai,Delhi,116,10,20.0,...,52.0,2.0,6.50,74.0,2.0,8.60,NaN,NaN,Evening,NaN
91,92,League Match,May 9,2009,Kimberley,Hyderabad,Punjab,168,5,20.0,...,86.0,4.0,8.30,119.0,5.0,10.00,169.0,7.0,Afternoon,NaN
92,93,League Match,May 9,2009,Kimberley,Rajasthan,Chennai,140,7,20.0,...,67.0,2.0,7.40,97.0,2.0,8.80,NaN,NaN,Evening,NaN
93,94,League Match,May 10,2009,Port Elizabeth,Mumbai,Bangalore,157,2,20.0,...,58.0,4.0,10.00,100.0,6.0,11.60,141.0,7.0,Afternoon,NaN
94,95,League Match,May 10,2009,Johannesburg,Kolkata,Delhi,123,8,20.0,...,72.0,3.0,5.20,100.0,3.0,4.80,NaN,NaN,Evening,NaN
95,96,League Match,May 11,2009,Kimberley,Hyderabad,Rajasthan,166,7,20.0,...,59.0,3.0,10.80,95.0,6.0,14.40,113.0,10.0,Evening,NaN
96,97,League Match,May 12,2009,Centurion,Kolkata,Bangalore,173,4,20.0,...,70.0,2.0,10.40,119.0,3.0,11.00,176.0,4.0,Afternoon,NaN
97,98,League Match,May 12,2009,Centurion,Punjab,Mumbai,119,9,20.0,...,74.0,2.0,4.60,113.0,2.0,1.40,NaN,NaN,Evening,NaN
98,99,League Match,May 13,2009,Durban,Delhi,Hyderabad,173,7,20.0,...,83.0,2.0,9.10,134.0,3.0,8.00,161.0,10.0,Evening,NaN
99,100,League Match,May 14,2009,Durban,Chennai,Bangalore,129,10,19.4,...,57.0,3.0,7.30,91.0,4.0,7.80,132.0,8.0,Afternoon,NaN
100,101,League Match,May 14,2009,Durban,Rajasthan,Mumbai,145,7,20.0,...,54.0,3.0,9.20,98.0,5.0,9.60,143.0,10.0,Evening,NaN
101,102,League Match,May 15,2009,Bloemfontein,Delhi,Punjab,120,9,20.0,...,50.0,3.0,7.10,86.0,3.0,7.00,123.0,4.0,Evening,NaN
102,103,League Match,May 16,2009,Port Elizabeth,Mumbai,Chennai,147,5,20.0,...,56.0,2.0,9.20,102.0,3.0,9.20,151.0,3.0,Afternoon,NaN
103,104,League Match,May 16,2009,Johannesburg,Kolkata,Hyderabad,160,5,20.0,...,71.0,1.0,9.00,105.0,2.0,11.20,166.0,4.0,Evening,NaN
104,105,League Match,May 17,2009,Johannesburg,Punjab,Hyderabad,134,7,20.0,...,65.0,2.0,7.00,86.0,5.0,9.80,133.0,8.0,Afternoon,NaN
105,106,League Match,May 17,2009,Bloemfontein,Delhi,Rajasthan,150,3,20.0,...,60.0,3.0,9.10,93.0,5.0,11.60,136.0,9.0,Evening,NaN
106,107,League Match,May 18,2009,Centurion,Chennai,Kolkata,188,3,20.0,...,83.0,1.0,10.60,131.0,2.0,11.60,189.0,3.0,Evening,NaN
107,108,League Match,May 19,2009,Johannesburg,Delhi,Bangalore,134,7,20.0,...,54.0,1.0,8.10,102.0,3.0,6.60,NaN,NaN,Evening,NaN
108,109,League Match,May 20,2009,Durban,Rajasthan,Kolkata,101,9,20.0,...,38.0,5.0,6.40,65.0,6.0,7.40,102.0,6.0,Afternoon,NaN
109,110,League Match,May 20,2009,Durban,Chennai,Punjab,116,9,20.0,...,42.0,2.0,7.50,59.0,4.0,11.60,92.0,8.0,Evening,NaN
110,111,League Match,May 21,2009,Centurion,Mumbai,Delhi,165,8,20.0,...,93.0,1.0,7.30,146.0,4.0,4.00,NaN,NaN,Afternoon,NaN
111,112,League Match,May 21,2009,Centurion,Bangalore,Hyderabad,170,4,20.0,...,85.0,1.0,8.60,119.0,3.0,10.40,158.0,6.0,Evening,NaN
112,113,1st Semi-Final,May 22,2009,Centurion,Delhi,Hyderabad,153,8,20.0,...,102.0,3.0,5.20,146.0,4.0,1.60,NaN,NaN,Evening,NaN
113,114,2nd Semi-Final,May 23,2009,Johannesburg,Chennai,Bangalore,146,5,20.0,...,82.0,2.0,6.50,110.0,3.0,7.40,NaN,NaN,Evening,NaN
114,115,Final,May 24,2009,Johannesburg,Hyderabad,Bangalore,143,6,20.0,...,69.0,3.0,7.50,103.0,6.0,8.20,137.0,9.0,Evening,NaN

In [36]:
len(y_2009)

57

In [39]:
total.append(len(y_2009))
total

[58, 57]

In [40]:
total

[58, 57]

In [41]:
win = y_2009[y_2009['Winning_Team'] == 'FirstBatting']
win

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
58,59,League Match,Apr 18,2009,Cape Town,Mumbai,Chennai,165,7,20.0,...,70.0,3.0,9.60,108.0,5.0,11.60,146.0,7.0,Afternoon,NaN
59,60,League Match,Apr 18,2009,Cape Town,Bangalore,Rajasthan,133,8,20.0,...,32.0,5.0,10.20,58.0,9.0,15.20,NaN,NaN,Evening,NaN
62,63,League Match,Apr 20,2009,Port Elizabeth,Chennai,Bangalore,179,5,20.0,...,56.0,5.0,12.40,85.0,9.0,19.00,NaN,NaN,Evening,NaN
64,65,League Match,Apr 22,2009,Cape Town,Hyderabad,Bangalore,184,6,20.0,...,57.0,3.0,12.80,109.0,4.0,15.20,160.0,8.0,Evening,NaN
65,66,League Match,Apr 23,2009,Durban,Delhi,Chennai,189,5,20.0,...,106.0,2.0,8.40,148.0,4.0,8.40,180.0,9.0,Afternoon,NaN
68,69,League Match,Apr 25,2009,Durban,Hyderabad,Mumbai,168,9,20.0,...,84.0,1.0,8.50,108.0,4.0,12.20,156.0,7.0,Evening,NaN
70,71,League Match,Apr 26,2009,Cape Town,Punjab,Rajasthan,139,6,20.0,...,48.0,6.0,9.20,82.0,6.0,11.60,112.0,7.0,Evening,NaN
72,73,League Match,Apr 27,2009,Port Elizabeth,Mumbai,Kolkata,187,6,20.0,...,70.0,2.0,11.80,95.0,7.0,18.60,NaN,NaN,Evening,NaN
75,76,League Match,Apr 29,2009,Durban,Punjab,Mumbai,119,8,20.0,...,47.0,4.0,7.30,81.0,4.0,7.80,116.0,7.0,Evening,NaN
77,78,League Match,Apr 30,2009,Centurion,Chennai,Rajasthan,164,5,20.0,...,61.0,3.0,10.40,98.0,5.0,13.40,126.0,10.0,Evening,NaN
78,79,League Match,May 1,2009,East London,Mumbai,Kolkata,148,6,20.0,...,60.0,2.0,8.90,98.0,3.0,10.20,139.0,6.0,Afternoon,NaN
79,80,League Match,May 1,2009,Durban,Bangalore,Punjab,145,9,20.0,...,70.0,1.0,7.60,95.0,3.0,10.20,137.0,7.0,Evening,NaN
81,82,League Match,May 2,2009,Johannesburg,Chennai,Delhi,163,10,20.0,...,72.0,3.0,9.20,120.0,3.0,8.80,145.0,8.0,Evening,NaN
84,85,League Match,May 4,2009,East London,Chennai,Hyderabad,178,3,20.0,...,79.0,5.0,10.00,100.0,10.0,NaN,NaN,NaN,Evening,NaN
85,86,League Match,May 5,2009,Durban,Rajasthan,Punjab,211,4,20.0,...,53.0,5.0,15.90,96.0,6.0,23.20,133.0,8.0,Afternoon,NaN
87,88,League Match,May 6,2009,Centurion,Hyderabad,Mumbai,145,6,20.0,...,71.0,3.0,7.50,100.0,4.0,9.20,126.0,8.0,Evening,NaN
89,90,League Match,May 7,2009,Centurion,Chennai,Punjab,185,3,18.0,...,90.0,3.0,12.25,148.0,3.0,13.33,NaN,NaN,Evening,D/L
93,94,League Match,May 10,2009,Port Elizabeth,Mumbai,Bangalore,157,2,20.0,...,58.0,4.0,10.00,100.0,6.0,11.60,141.0,7.0,Afternoon,NaN
95,96,League Match,May 11,2009,Kimberley,Hyderabad,Rajasthan,166,7,20.0,...,59.0,3.0,10.80,95.0,6.0,14.40,113.0,10.0,Evening,NaN
98,99,League Match,May 13,2009,Durban,Delhi,Hyderabad,173,7,20.0,...,83.0,2.0,9.10,134.0,3.0,8.00,161.0,10.0,Evening,NaN
100,101,League Match,May 14,2009,Durban,Rajasthan,Mumbai,145,7,20.0,...,54.0,3.0,9.20,98.0,5.0,9.60,143.0,10.0,Evening,NaN
104,105,League Match,May 17,2009,Johannesburg,Punjab,Hyderabad,134,7,20.0,...,65.0,2.0,7.00,86.0,5.0,9.80,133.0,8.0,Afternoon,NaN
105,106,League Match,May 17,2009,Bloemfontein,Delhi,Rajasthan,150,3,20.0,...,60.0,3.0,9.10,93.0,5.0,11.60,136.0,9.0,Evening,NaN
109,110,League Match,May 20,2009,Durban,Chennai,Punjab,116,9,20.0,...,42.0,2.0,7.50,59.0,4.0,11.60,92.0,8.0,Evening,NaN
111,112,League Match,May 21,2009,Centurion,Bangalore,Hyderabad,170,4,20.0,...,85.0,1.0,8.60,119.0,3.0,10.40,158.0,6.0,Evening,NaN
114,115,Final,May 24,2009,Johannesburg,Hyderabad,Bangalore,143,6,20.0,...,69.0,3.0,7.50,103.0,6.0,8.20,137.0,9.0,Evening,NaN

In [42]:
len(win)

26

In [43]:
win_bat.append(len(win))
win_bat

[22, 26]

In [44]:
win_bol = y_2009[y_2009['Winning_Team'] == 'Chasing']
print(win_bol)      

win_cha.append(len(win_bol))
print(win_cha)

     Match_Number           Match    Date  Year           Venue  \
60             61    League Match  Apr 19  2009       Cape Town
61             62    League Match  Apr 19  2009       Cape Town
63             64    League Match  Apr 21  2009          Durban
67             68    League Match  Apr 24  2009          Durban
69             70    League Match  Apr 26  2009  Port Elizabeth
71             72    League Match  Apr 27  2009          Durban
73             74    League Match  Apr 28  2009       Centurion
74             75    League Match  Apr 29  2009          Durban
76             77    League Match  Apr 30  2009       Centurion
80             81    League Match   May 2  2009  Port Elizabeth
82             83    League Match   May 3  2009  Port Elizabeth
83             84    League Match   May 3  2009    Johannesburg
86             87    League Match   May 5  2009          Durban
88             89    League Match   May 7  2009       Centurion
90             91    League Match   May 8  2009     East London
91             92    League Match   May 9  2009       Kimberley
92             93    League Match   May 9  2009       Kimberley
94             95    League Match  May 10  2009    Johannesburg
96             97    League Match  May 12  2009       Centurion
97             98    League Match  May 12  2009       Centurion
99            100    League Match  May 14  2009          Durban
101           102    League Match  May 15  2009    Bloemfontein
102           103    League Match  May 16  2009  Port Elizabeth
103           104    League Match  May 16  2009    Johannesburg
106           107    League Match  May 18  2009       Centurion
107           108    League Match  May 19  2009    Johannesburg
108           109    League Match  May 20  2009          Durban
110           111    League Match  May 21  2009       Centurion
112           113  1st Semi-Final  May 22  2009       Centurion
113           114  2nd Semi-Final  May 23  2009    Johannesburg

    Team_Batting_First Team_Batting_Second  Bat_First_Runs_Scored  \
60              Punjab               Delhi                    104
61             Kolkata           Hyderabad                    101
63              Punjab             Kolkata                    158
67           Bangalore              Punjab                    168
69           Bangalore               Delhi                    149
71             Chennai           Hyderabad                    165
73               Delhi           Rajasthan                    143
74             Kolkata           Bangalore                    139
76           Hyderabad               Delhi                    148
80           Hyderabad           Rajasthan                    141
82             Kolkata              Punjab                    153
83              Mumbai           Bangalore                    149
86             Kolkata               Delhi                    154
88           Bangalore           Rajasthan                    105
90              Mumbai               Delhi                    116
91           Hyderabad              Punjab                    168
92           Rajasthan             Chennai                    140
94             Kolkata               Delhi                    123
96             Kolkata           Bangalore                    173
97              Punjab              Mumbai                    119
99             Chennai           Bangalore                    129
101              Delhi              Punjab                    120
102             Mumbai             Chennai                    147
103            Kolkata           Hyderabad                    160
106            Chennai             Kolkata                    188
107              Delhi           Bangalore                    134
108          Rajasthan             Kolkata                    101
110             Mumbai               Delhi                    165
112              Delhi           Hyderabad                    153
113            Chennai           Bangalore                    146

     Bat_First_Wickets_Lost  Bat_First_Overs_Consumed  ...  \
60                        7                      12.0  ...
61                       10                      19.4  ...
63                        6                      20.0  ...
67                        9                      20.0  ...
69                        7                      20.0  ...
71                        6                      20.0  ...
73                        7                      20.0  ...
74                        6                      20.0  ...
76                        9                      20.0  ...
80                        5                      20.0  ...
82                        3                      20.0  ...
83                        4                      20.0  ...
86                        3                      20.0  ...
88                       10                      20.0  ...
90                       10                      20.0  ...
91                        5                      20.0  ...
92                        7                      20.0  ...
94                        8                      20.0  ...
96                        4                      20.0  ...
97                        9                      20.0  ...
99                       10                      19.4  ...
101                       9                      20.0  ...
102                       5                      20.0  ...
103                       5                      20.0  ...
106                       3                      20.0  ...
107                       7                      20.0  ...
108                       9                      20.0  ...
110                       8                      20.0  ...
112                       8                      20.0  ...
113                       5                      20.0  ...

     Bat_Second_10_ov_score  Bat_Second_10_ov_wkts_lost  \
60                      NaN                         NaN
61                     69.0                         2.0
63                     79.0                         1.0
67                     80.0                         1.0
69                     64.0                         2.0
71                     85.0                         2.0
73                     60.0                         3.0
74                     65.0                         0.0
76                     70.0                         3.0
80                     60.0                         5.0
82                     81.0                         3.0
83                     74.0                         1.0
86                     76.0                         1.0
88                     62.0                         2.0
90                     52.0                         2.0
91                     86.0                         4.0
92                     67.0                         2.0
94                     72.0                         3.0
96                     70.0                         2.0
97                     74.0                         2.0
99                     57.0                         3.0
101                    50.0                         3.0
102                    56.0                         2.0
103                    71.0                         1.0
106                    83.0                         1.0
107                    54.0                         1.0
108                    38.0                         5.0
110                    93.0                         1.0
112                   102.0                         3.0
113                    82.0                         2.0

     Bat_Second_10_ov_Req_RR  Bat_Second_15_ov_score  \
60                       NaN                     NaN
61                       3.3                     NaN
63                       NaN                     NaN
67                       8.9                   109.0
69                       8.6                    99.0
71                       8.1                   129.0
73                       8.4                    96.0
74                       7.5                    98.0
76                       7.9                   101.0
80                       8.2                    98.0
82                       7.3                   116.0
83                       7.6                   122.0
86                       7.9                   114.0
88                       4.4                   107.0
90                       6.5                    74.0
91                       8.3                   119.0
92                       7.4                    97.0
94                       5.2                   100.0
96                      10.4                   119.0
97                       4.6                   113.0
99                       7.3                    91.0
101                      7.1                    86.0
102                      9.2                   102.0
103                      9.0                   105.0
106                     10.6                   131.0
107                      8.1                   102.0
108                      6.4                    65.0
110                      7.3                   146.0
112                      5.2                   146.0
113                      6.5                   110.0

     Bat_Second_15_ov_wkts_lost Bat_Second_15_ov_Req_RR  \
60                          NaN                     NaN
61                          NaN                     NaN
63                          NaN                     NaN
67                          2.0                    12.0
69                          3.0                    10.2
71                          3.0                     7.4
73                          5.0                     9.6
74                          2.0                     8.4
76                          3.0                     9.6
80                          6.0                     8.8
82                          4.0                     7.6
83                          1.0                     5.6
86                          1.0                     8.2
88                          3.0                     NaN
90                          2.0                     8.6
91                          5.0                    10.0
92                          2.0                     8.8
94                          3.0                     4.8
96                          3.0                    11.0
97                          2.0                     1.4
99                          4.0                     7.8
101                         3.0                     7.0
102                         3.0                     9.2
103                         2.0                    11.2
106                         2.0                    11.6
107                         3.0                     6.6
108                         6.0                     7.4
110                         4.0                     4.0
112                         4.0                     1.6
113                         3.0                     7.4

    Bat_Second_20_ov_score  Bat_Second_20_ov_wkts_lost Match_Time  \
60                     NaN                         NaN  Afternoon
61                     NaN                         NaN    Evening
63                     NaN                         NaN    Evening
67                     NaN                         NaN    Evening
69                   150.0                         4.0  Afternoon
71                   169.0                         4.0  Afternoon
73                     NaN                         NaN    Evening
74                   143.0                         5.0  Afternoon
76                     NaN                         NaN  Afternoon
80                   142.0                         7.0  Afternoon
82                   154.0                         4.0  Afternoon
83                     NaN                         NaN    Evening
86                     NaN                         NaN    Evening
88                     NaN                         NaN  Afternoon
90                     NaN                         NaN    Evening
91                   169.0                         7.0  Afternoon
92                     NaN                         NaN    Evening
94                     NaN                         NaN    Evening
96                   176.0                         4.0  Afternoon
97                     NaN                         NaN    Evening
99                   132.0                         8.0  Afternoon
101                  123.0                         4.0    Evening
102                  151.0                         3.0  Afternoon
103                  166.0                         4.0    Evening
106                  189.0                         3.0    Evening
107                    NaN                         NaN    Evening
108                  102.0                         6.0  Afternoon
110                    NaN                         NaN  Afternoon
112                    NaN                         NaN    Evening
113                    NaN                         NaN    Evening

     Duckworth Lewis Used
60                    NaN
61                    NaN
63                    D/L
67                    NaN
69                    NaN
71                    NaN
73                    NaN
74                    NaN
76                    NaN
80                    NaN
82                    NaN
83                    NaN
86                    NaN
88                    NaN
90                    NaN
91                    NaN
92                    NaN
94                    NaN
96                    NaN
97                    NaN
99                    NaN
101                   NaN
102                   NaN
103                   NaN
106                   NaN
107                   NaN
108                   NaN
110                   NaN
112                   NaN
113                   NaN

[30 rows x 43 columns]
[36, 30]

In [45]:
win_cha

[36, 30]

In [46]:
ma_tie =y_2009[y_2009['Winning_Team'] == 'Match Tie']
ma_tie

Empty DataFrame
Columns: [Match_Number, Match, Date, Year, Venue, Team_Batting_First, Team_Batting_Second, Bat_First_Runs_Scored, Bat_First_Wickets_Lost, Bat_First_Overs_Consumed, Bat_First_Overs_Allocated, Bat_Second_Runs_Scored, Bat_Second_Wickets_Lost, Bat_Second_Overs_Consumed, Bat_Second_Overs_Allocated, Winner, Winning_Team, Winning_Margin, Win_Type, Bat_First_Run_Rate, Bat_Second_Run_Rate, Balls_Remaining, Bat_First_5_ov_score, Bat_First_5_ov_wkts_lost, Bat_First_10_ov_score, Bat_First_10_ov_wkts_lost, Bat_First_15_ov_score, Bat_First_15_ov_wkts_lost, Bat_First_20_ov_score, Bat_First_20_ov_wkts_lost, Bat_Second_5_ov_score, Bat_Second_5_ov_wkts_lost, Bat_Second_5_ov_Req_RR, Bat_Second_10_ov_score, Bat_Second_10_ov_wkts_lost, Bat_Second_10_ov_Req_RR, Bat_Second_15_ov_score, Bat_Second_15_ov_wkts_lost, Bat_Second_15_ov_Req_RR, Bat_Second_20_ov_score, Bat_Second_20_ov_wkts_lost, Match_Time, Duckworth Lewis Used]
Index: []

[0 rows x 43 columns]

In [47]:
tie.append(len(ma_tie))
tie

[0, 0]

In [49]:
y_2010 = df[df['Year'] == 2010]
y_2010

total.append(len(y_2010))
total

[58, 57, 60, 60]

In [50]:
total

[58, 57, 60, 60]

In [51]:
total.pop()

60

In [52]:
total

[58, 57, 60]

In [53]:
win_bat

[22, 26]

In [54]:
win = y_2010[y_2010['Winning_Team'] == 'FirstBatting']
win

win_bat.append(len(win))
win_bat

[22, 26, 31]

In [56]:
win_bol = y_2010[y_2010['Winning_Team'] == 'Chasing']
win_bol      

win_cha.append(len(win_bol))
win_cha

[36, 30, 28]

In [59]:
ma_tie =y_2010[y_2010['Winning_Team'] == 'Match Tied']
ma_tie

len(ma_tie)
tie.append(len(ma_tie))

In [60]:
tie

[0, 0, 1]

In [61]:
y_2011 = df[df['Year'] == 2011]
y_2011

total.append(len(y_2011))
total

[58, 57, 60, 72]

In [62]:
win = y_2011[y_2011['Winning_Team'] == 'FirstBatting']
win

win_bat.append(len(win))
win_bat

[22, 26, 31, 32]

In [63]:
win_bol = y_2011[y_2011['Winning_Team'] == 'Chasing']
win_bol      

win_cha.append(len(win_bol))
win_cha

[36, 30, 28, 40]

In [64]:
ma_tie =y_2011[y_2011['Winning_Team'] == 'Match Tied']
ma_tie

tie.append(len(ma_tie))
tie

[0, 0, 1, 0]

In [65]:
y_2012 = df[df['Year'] == 2012]
y_2012

total.append(len(y_2012))
total

[58, 57, 60, 72, 74]

In [66]:
win = y_2012[y_2012['Winning_Team'] == 'FirstBatting']
win

win_bat.append(len(win))
win_bat

[22, 26, 31, 32, 34]

In [67]:
win_bol = y_2012[y_2012['Winning_Team'] == 'Chasing']
win_bol      

win_cha.append(len(win_bol))
win_cha

[36, 30, 28, 40, 40]

In [68]:
ma_tie =y_2012[y_2012['Winning_Team'] == 'Match Tied']
ma_tie

tie.append(len(ma_tie))
tie

[0, 0, 1, 0, 0]

In [69]:
y_2013 = df[df['Year'] == 2013]
y_2013

total.append(len(y_2013))
total

[58, 57, 60, 72, 74, 76]

In [70]:
win = y_2013[y_2013['Winning_Team'] == 'FirstBatting']
win

win_bat.append(len(win))
win_bat

[22, 26, 31, 32, 34, 37]

In [71]:
win_bol = y_2013[y_2013['Winning_Team'] == 'Chasing']
win_bol      

win_cha.append(len(win_bol))
win_cha

[36, 30, 28, 40, 40, 37]

In [72]:
ma_tie =y_2013[y_2013['Winning_Team'] == 'Match Tied']
ma_tie

tie.append(len(ma_tie))
tie

[0, 0, 1, 0, 0, 2]

In [73]:
y_2014 = df[df['Year'] == 2014]
y_2014

total.append(len(y_2014))
total

[58, 57, 60, 72, 74, 76, 60]

In [74]:
win = y_2014[y_2014['Winning_Team'] == 'FirstBatting']
win

win_bat.append(len(win))
win_bat

[22, 26, 31, 32, 34, 37, 22]

In [75]:
win_bol = y_2014[y_2014['Winning_Team'] == 'Chasing']
win_bol      

win_cha.append(len(win_bol))
win_cha

[36, 30, 28, 40, 40, 37, 37]

In [76]:
ma_tie =y_2014[y_2014['Winning_Team'] == 'Match Tied']
ma_tie

tie.append(len(ma_tie))
tie

[0, 0, 1, 0, 0, 2, 1]

In [77]:
y_2015 = df[df['Year'] == 2015]
y_2015

total.append(len(y_2015))
total

[58, 57, 60, 72, 74, 76, 60, 57]

In [78]:
win = y_2015[y_2015['Winning_Team'] == 'FirstBatting']
win

win_bat.append(len(win))
win_bat

[22, 26, 31, 32, 34, 37, 22, 32]

In [79]:
win_bol = y_2015[y_2015['Winning_Team'] == 'Chasing']
win_bol      

win_cha.append(len(win_bol))
win_cha

[36, 30, 28, 40, 40, 37, 37, 24]

In [80]:
ma_tie =y_2015[y_2015['Winning_Team'] == 'Match Tied']
ma_tie

tie.append(len(ma_tie))
tie

[0, 0, 1, 0, 0, 2, 1, 1]

In [81]:
finalset = list(zip(year,total,win_bat,win_cha,tie))
finalset

[(2008, 58, 22, 36, 0),
 (2009, 57, 26, 30, 0),
 (2010, 60, 31, 28, 1),
 (2011, 72, 32, 40, 0),
 (2012, 74, 34, 40, 0),
 (2013, 76, 37, 37, 2),
 (2014, 60, 22, 37, 1),
 (2015, 57, 32, 24, 1)]

In [84]:
import pandas as pd
df = pd.DataFrame(data = finalset , columns = ['year' , 'total match' , 'Number of matches Team Batting First Won' , 'Number of matches team Chasing Won' , 'Number of times Match Tied'])
df

,year,total match,Number of matches Team Batting First Won,Number of matches team Chasing Won,Number of times Match Tied
0,2008,58,22,36,0
1,2009,57,26,30,0
2,2010,60,31,28,1
3,2011,72,32,40,0
4,2012,74,34,40,0
5,2013,76,37,37,2
6,2014,60,22,37,1
7,2015,57,32,24,1