In [ ]:
from pandas import *
import matplotlib.pyplot as plt
import pandas as pd 
import sys 
import matplotlib

In [2]:
df = pd.read_excel('EASY_IPL.xlsx')
df

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.4,128.0,1.0,0.4,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.3,81.0,4.0,6.0,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,510,League Match,May 17,2015,Hyderabad,Hyderabad,Mumbai,113,10,20.0,...,73.0,0.0,4.1,NaN,NaN,NaN,NaN,NaN,Evening,NaN
510,511,Qualifier 1,May 19,2015,Mumbai,Mumbai,Chennai,187,6,20.0,...,86.0,2.0,10.2,121.0,6.0,13.4,NaN,NaN,Evening,NaN
511,512,Eliminator,May 20,2015,Pune,Bangalore,Rajasthan,180,4,20.0,...,68.0,3.0,11.3,92.0,7.0,17.8,NaN,NaN,Evening,NaN
512,513,Qualifier 2,May 22,2015,Ranchi,Bangalore,Chennai,139,8,20.0,...,62.0,3.0,7.8,91.0,3.0,9.8,140.0,7.0,Evening,NaN
513,514,Final,May 24,2015,Kolkata,Mumbai,Chennai,202,5,20.0,...,67.0,1.0,13.6,112.0,4.0,18.2,161.0,8.0,Evening,NaN

In [10]:
Sorted = df.sort_values(['Bat_First_Run_Rate'], ascending=False)
a = Sorted.head(1)
a

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
390,391,League Match,May 18,2013,Bangalore,Bangalore,Chennai,106,2,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evening,NaN

In [24]:
s1=a.loc[:,['Match_Number','Team_Batting_First','Bat_First_Runs_Scored','Bat_First_Overs_Consumed']]
s1

,Match_Number,Team_Batting_First,Bat_First_Runs_Scored,Bat_First_Overs_Consumed
390,391,Bangalore,106,8.0